.tableheader {
    display:flex;
    color:white;
    font-size:20px;
    align-items: center;
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
    padding:10px 0px 10px 7px;
    width:100%;
    border-radius:10px;
    
}
.table {
   min-width: 600px;
}
.maintable {
    
    margin: 70px auto;
    width:90%;
    display:block;
    
}

.rowcell {
    flex:1;
}

.bodyRow:hover {
    background-color: #200840;
    cursor:pointer;

}

@media screen and (max-width:660px) {
    .maintable {
        overflow-x: scroll;
    }
}
