@tailwind base;
@tailwind components;
@tailwind utilities;
/*$color-white: #f3f2f4;
$color-blue-purp: linear-gradient(25deg, #2600fc, #ff00ea);
$bg-black: #0f051d;
$green: rgb(14, 203, 129);
*/

/*Fonts
$big-font: "Space Grotesk", sans-serif;
$small-font: "Noto Sans Georgian", sans-serif;
*/



:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }


  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 12px;
   
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ba04b7;
    border: 1px solid #ffffff;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #ed00eb;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #ed00eb;
  }
  
  body {
   background-color: #0f051d;
  }

  html {
    scroll-behavior: smooth;
    
  }
  

